body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: clamp(12px, 1vw, 36px); 
}


body {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr 8fr;
}

.logo {
    background-color: #1e293b;
    color:#cbd5e1;
    display:flex;
    align-items: center;
    padding-left:10px;
}

h1 {
    display:inline;
}

h2 {
    position:relative;
    left:5%;
    color: #cbd5e1;
    font-size: clamp(1rem, 1.5vw, 3rem); 
}

h3 {
    display:inline;
    font-size: clamp(1rem, 1vw, 3rem); 
}

.sidebar {
    background-color: #1e293b;
    color:#cbd5e1;
    grid-area: 2/1/4/2;
}

a {
    text-decoration: none;
    color:#cbd5e1;
    font-size: 1.5rem;
    display:grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    gap:10px;
}


.navLinks{
    list-style: none;
    margin-left:24px;
    padding:0;
    display:grid;
    grid-gap:20px;
    grid-template-rows:repeat(9,1fr);
}

#settings {
    grid-row: 8/9;
}

#privacy {
    grid-row: 9/10;
}

#support {
    grid-row:10/11;
}


.header {
    background-color: lightblue;
    grid-area: 1/2/3/4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#topIcon {
    width: 30px;
    border-radius:50%;
}

#botIcon {
    height:40px;
    border-radius: 50px;
}

.profile {
    display:grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.searchBar {
    background-color: #cbd5e1;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

input {
    width:80%;
    height:40%;
    border-radius:20px;
    font-size:18px;
    padding:2px 20px;
}

.profile {
    background-color: lightsalmon;
    background-color: #cbd5e1;

}

.welcome {
    background-color: lightseagreen;
    background-color: #cbd5e1;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.actions {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #cbd5e1;
}

.actions > .action {
    border-radius:40px;
    height:50%;
    width:30%;
    background-color: #1e293b;
    color:#cbd5e1;
    font-weight:700;
}

.main-content {
    background-color: lightpink;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}



.projects {
    background-color: lightpink;
    background-color: #64748b;
    grid-area: 1/1/3/2;
}

.projectCards {
    height:80%;
    display: grid;
    grid-gap: 5%;
    margin: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.projectCard {
    background-color: #f1f5f9;
    border-radius:10px;
    box-shadow: 5px 5px 15px 0px #000000;
    padding:20px;
}

.announcements {
    background-color: lightblue;
    background-color: #64748b;
}

.announcementCards {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5%;
    margin: 5%;
    border-radius:20px;
    background-color: #cbd5e1;
}

.announcementCard {
    background-color: #f1f5f9;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -4px #000000;
    padding:10px;
}

.trending {
    background-color: lightgreen;
    background-color: #64748b;
}

.trendingCards {
    display: grid;
    grid-gap: 5%;
    margin: 5%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trendingCard {
    background-color: #f1f5f9;
    border-radius:10px;
    box-shadow: 5px 5px 15px -4px #000000;
}

